extends layout

block content
  h1= title
  if (user == "Anonymous")
    p Welcome #{user}
    a(href="/auth/twitter")
      | Sign in with Twitter
  else
    p 
      li Welcome #{user.displayName}
      li Username: #{user.username}
      li Picture: 
        img(src="#{user.photos[0].value}")
      li Location: #{user._json.location}
      li Description: #{user._json.description}
      li Tweet Count: #{user._json.statuses_count}
      li Last Tweet: #{user._json.status.text}
    a(href="/logout")
      | Logout